.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 10px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color:wheat;
}

p {
  font-size: 2rem;
  color:silver;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: cursive;

}
button{
  border: none;
  background-color:darkgrey;
  color: white;
  font-size: 35px;
  padding: 20px;
  border-radius: 20px;
}
.buttonPosition{
  text-align: center;
  padding: 30px;
}